@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

@layer base {
    :root {
        --je-orange: hsl(24 98% 60%);
        --je-red: hsl(357 73% 55%);

        --background: white;
        --foreground: black;

        --card: white;
        --card-foreground: hsl(0 0% 3.9%);

        --popover: white;
        --popover-foreground: hsl(0 0% 3.9%);

        --primary: var(--je-orange);
        --primary-foreground: hsl(0, 0%, 100%);

        --secondary: hsl(0 0% 96.1%);
        --secondary-foreground: hsl(0 0% 9%);

        --muted: hsl(0 0% 96.1%);
        --muted-foreground: hsl(0 0% 45.1%);

        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);

        --destructive: var(--je-red);
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(0 0% 3.9%);

        --radius: 0.5rem;
    }

    /* .dark {
    --background: hsl(0 0% 3.9%);
    --foreground: white;

    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: white;
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: white;

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 14.9%);
    --accent-foreground: white;

    --destructive: var(--je-red);
    --destructive-foreground: white;

    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
  } */
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

p {
    text-align: justify;
}

.call2action {
    background: linear-gradient(45deg, hsl(24 98% 60%), hsl(357 73% 40%));
    background-size: 200% 200%;
    animation: call2action-animation 3s ease infinite;
}

.call2action:hover {
    background: linear-gradient(0deg, var(--primary), var(--destructive));
}

@keyframes call2action-animation {
    0% {
        background-position: 50% 0%;
    }

    25% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 0%;
    }

    75% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 50% 0%;
    }
}
